<div id='wrap'>
   <div id='menu'> 
	<div class="menu">
 <div id="name_app"><h2>Carpooling</h2></div>
        <ul>
       
<li><a href="/" >Inicio</a></li>
<li><a href="#" class='current'>Registrar Alumno</a></li>
<li><a href="/search/route">Buscar ruta</a></li>
<li><a href="/register/route">Registrar Ruta</a></li>
<li><a href="#">Salir</a></li>
</ul>
<br style="clear:left"/>
</div></div>
   <div id='content-alumno' class='co'>
   <form> 
   	<fieldset>
    	<legend>Registro de Alumno</legend>
        <dl>
        	<dt><label for="email">Codigo Alumno:</label></dt>
            <dd><img src="img/0.png" class="NFTextLeft"><div class="NFTextCenter"><input type="text" name="email" id="email" size="32" maxlength="128" class="NFText"></div><img src="img/0.png" class="NFTextRight"> @upc.edu.pe</dd>
        </dl>
        <dl>
        <dl>
        	<dt><label for="email">Nombre:</label></dt>
            <dd><img src="img/0.png" class="NFTextLeft"><div class="NFTextCenter"><input type="text" name="email" id="email" size="32" maxlength="128" class="NFText"></div><img src="img/0.png" class="NFTextRight"></dd>
        </dl>
        <dl>
        <dl>
        	<dt><label for="email">Telefono:</label></dt>
            <dd><img src="img/0.png" class="NFTextLeft"><div class="NFTextCenter"><input type="text" name="email" id="email" size="32" maxlength="128" class="NFText"></div><img src="img/0.png" class="NFTextRight"></dd>
        </dl>
        <dl>	
        <dl>
        	<dt><label for="email">Correo:</label></dt>
            <dd><img src="img/0.png" class="NFTextLeft"><div class="NFTextCenter"><input type="text" name="email" id="email" size="32" maxlength="128" class="NFText"></div><img src="img/0.png" class="NFTextRight"></dd>
        </dl>
        <dl>   
       <dl>
        	<dt><label for="email">Twitter:</label></dt>
            <dd><img src="img/0.png" class="NFTextLeft"><div class="NFTextCenter"><input type="text" name="email" id="email" size="32" maxlength="128" class="NFText"></div><img src="img/0.png" class="NFTextRight"></dd>
        </dl>
        <dl>  
        <dl>
        	<dt><label for="email">Direccion:</label></dt>
            <dd><img src="img/0.png" class="NFTextLeft"><div class="NFTextCenter"><input type="text" name="email" id="email" size="32" maxlength="128" class="NFText"></div><img src="img/0.png" class="NFTextRight"></dd>
        </dl>
        <dl>
 <dl>
        	<dt><label for="email">Profesion:</label></dt>
            <dd><img src="img/0.png" class="NFTextLeft"><div class="NFTextCenter"><input type="text" name="email" id="email" size="32" maxlength="128" class="NFText"></div><img src="img/0.png" class="NFTextRight"></dd>
        </dl>
        <dl>
 <dl>
 <dl>
        	<dt><label for="email">:Edad</label></dt>
            <dd><img src="img/0.png" class="NFTextLeft"><div class="NFTextCenter"><input type="text" name="email" id="email" size="32" maxlength="128" class="NFText"></div><img src="img/0.png" class="NFTextRight"></dd>
        </dl>
        <dl>
       <dl>
            <dt><label for="email">&nbsp;</label></dt>
    	<dd><img class="NFButtonLeft" src="img/0.png"><input type="submit" name="submit" id="submit" value="Submit" class="NFButton"><img src="img/0.png" class="NFButtonRight"></dd>
        </dl>
 
    </fieldset>

   </form>     
   </div>
   <div id='footer'>Copyright upc-curso-taller-de-desarrollo-web @2011</div>
</div>
