<div id='wrap'>
   <div id='menu'> 
	<div class="menu">
 <div id="name_app"><h2>Carpooling</h2></div>
        <ul>
       
<li><a href="/index/inicio" >Inicio</a></li>
<li><a href="/alumno/registrar" >Registrar Ruta</a></li>
<li><a href="#" class='current'>Buscar ruta</a></li>
<li><a href="/register/route">Registrar Ruta</a></li>
<li><a href="#">Salir</a></li>
</ul>
<br style="clear:left"/>
</div></div>
   <div id='content-alumno' class='co'>
   <form> 
   	<fieldset>
    	<legend>Buscar Alumno</legend>
        <dl>
           <dt><label for="email">Distrito Origen:</label></dt>
          <dd>
             <div  >
           <div  >
             </div><select  name="languages" id="languages"  style="width:240px;" >
                	<option value="English">Los Olivos</option>
                    <option value="French">San Martin de Porres</option>
                    <option value="Spanish">Miraflores</option>
                    <option value="Italian">Italian</option>
                   
                </select></div></dd>
        </dl>
<dl>
           <dt><label for="email">Ref. Origen:</label></dt>
          <dd>
             <div  >
           <div >
             </div><select  name="languages" id="languages"  style="width:240px; " >
                <option value="English">Los Olivos</option>
                    <option value="French">San Martin de Porres</option>
                    <option value="Spanish">Miraflores</option>
                    <option value="Italian">Italian</option>
                   
                </select></div></dd>
        </dl>
<dl>
           <dt><label for="email">Distrito Destino:</label></dt>
          <dd>
             <div  >
           <div  >
             </div><select  name="languages" id="languages"  style="width:240px; " >
                <option value="English">Los Olivos</option>
                    <option value="French">San Martin de Porres</option>
                    <option value="Spanish">Miraflores</option>
                    <option value="Italian">Italian</option>
                   
                </select></div></dd>
        </dl>
<dl>
           <dt><label for="email">Ref. Destino:</label></dt>
          <dd>
             <div >
           <div  >
             </div><select  name="languages" id="languages"  style="width:240px;" >
                <option value="English">Los Olivos</option>
                    <option value="French">San Martin de Porres</option>
                    <option value="Spanish">Miraflores</option>
                    <option value="Italian">Italian</option>
                   
                </select></div></dd>
        </dl>
      <dl>
        	<dt><label for="comments">Tags de ruta</label></dt>
            <dd><div class="NFTextareaTop" style="width: 427px; "><img src="img/0.png" class="NFTextareaTopLeft"></div><div class="NFTextareaRight" style="height: 52px; "><div class="NFTextareaLeft" style="height: 52px; "></div><textarea name="comments" id="comments" rows="5" cols="60" style="width: 427px; height: 52px; " class="NFTextarea"></textarea></div><div class="NFTextareaBottom" style="width: 427px; "><img src="img/0.png" class="NFTextareaBottomLeft"></div></dd>
        </dl>
        <dl>
        	<dt><label for="comments">Horario</label></dt>
               <table cellspacing=0 cellpadding=2 border = 1 bordercolor="#ccc">
                   <tr><th>Dia</th><th>Hora</th></tr>
                  <tr><td>Lunes</td><td>22:00</td></tr>  
 		  <tr><td>Martes</td><td>18:00</td></tr>  
                  <tr><td>Miercoles</td><td>22:00</td></tr>  
                  <tr><td>Jueves</td><td>13:00</td></tr>  
                  <tr><td>Viernes</td><td>16:00</td></tr>  
             </table>
            <dd>
       </dd>
        </dl>
        <dl>
            <dt><label for="email">&nbsp;</label></dt>
    	<dd><img class="NFButtonLeft" src="img/0.png"><input type="submit" name="submit" id="submit" value="Buscar" class="NFButton"><img src="img/0.png" class="NFButtonRight"></dd>
        </dl>
    </fieldset>

   </form>     
   </div>
   <div id='footer'>Copyright upc-curso-taller-de-desarrollo-web @2011</div>
</div>
