<div id='wrap'>
   <div id='menu'> 
	<div class="menu">
 <div id="name_app"><h2>Carpooling</h2></div>
        <ul>
       
<li><a href="#" class='current'>Inicio</a></li>
<li><a href="/alumno/registrar">Registrar Alumno</a></li>
<li><a href="/search/route">Buscar ruta</a></li>
<li><a href="/register/route">Registrar Ruta</a></li>
<li><a href="/">Salir</a></li>
</ul>
<br style="clear:left"/>
</div></div>
   <div id='content-index'>
  

   </div>
   <div id='footer'>Copyright upc-curso-taller-de-desarrollo-web @2011</div>
</div>
