// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.small div#topcorners {
background: #F5F5EF;
height: 10px;
margin: 0 auto;
position: relative;
}



div.login div#wrapper {
width: 420px;
margin: 0 auto;
}

div.login div#topcorners {
width: 400px;
}

div.small div#topcorners div.cleft {
position: absolute;
width: 10px;
height: 10px;
background: url(/assets/content_corner_sprite1_01.gif) 0px 0px no-repeat;
top: 0;
left: -10px;
}

div.small div#topcorners div.cright {
position: absolute;
width: 10px;
height: 10px;
background: url(/assets/content_corner_sprite1_01.gif) -12px 0px no-repeat;
top: 0;
right: -10px;
}

div#content {
padding: 20px 30px 20px 30px;
color: #515348;
font-size: 76%;
line-height: 1.6em;
height: 1%;
background: #F5F5EF;
}

table.login {
margin: 5px 0;
}

table {
display: table;
border-collapse: separate;
border-spacing: 2px;
border-color: gray;
}

div.small div#header {
margin-bottom: 20px;
padding: 30px 0 0 0;
}

div#header {
position: relative;
height: 1%;
margin-bottom: 20px;
padding: 30px 30px 0 30px;
text-align:center;
}

div.small div#bottomcorners {
background: #F5F5EF;
height: 10px;
margin: 0 auto;
position: relative;
}

div.login div#bottomcorners {
width: 400px;
}

div.small div#bottomcorners div.cleft {
position: absolute;
width: 10px;
height: 10px;
background: url(/assets/content_corner_sprite1_01.gif) 0px -12px no-repeat;
top: 0;
left: -10px;
}

div.small div#bottomcorners div.cright {
position: absolute;
width: 10px;
height: 10px;
background: url(/assets/content_corner_sprite1_01.gif) -12px -12px no-repeat;
top: 0;
right: -10px;
}
